.DS_Store
*.dSYM

megaphone
phonebook
account
pony
ex01
zombie
zombie_horde
ex04
brain
human
replace
logger
logger.txt
cato9tails
fixed
eval_expr
fragtrap

*.o
*.json
*.mp4
*.mov
*.prproj
*.png
*.psd
*.terminal
*.ai
