.DS_Store
*.dSYM

megaphone
phonebook
account
pony
zombie
zombie_horde
brain
human
replace
logger
logger.txt
cato9tails
fixed
eval_expr
claptrap
polymorph
fire
squad

*.o
*.json
*.mp4
*.mov
*.prproj
*.png
*.psd
*.terminal
*.ai
